src/META-INF/wsdl/localhost_8080/ServerWS/ServerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://serverws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serverws/">

<xs:element name="Echo" type="tns:Echo" />

<xs:element name="EchoResponse" type="tns:EchoResponse" />

<xs:element name="Hello" type="tns:Hello" />

<xs:element name="HelloResponse" type="tns:HelloResponse" />

<xs:complexType name="Hello">
<xs:sequence />
</xs:complexType>

<xs:complexType name="HelloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Echo">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EchoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>